<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <loggerName/>
                <logLevel/>
                <threadName/>
                <message/>
                <stackTrace/>
                <mdc/> <!-- Includes traceId, spanId etc. from OpenTelemetry -->
                <globalCustomFields>{"serviceName":"spring-boot-app"}</globalCustomFields>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>

</configuration>
